body {
	background-color: black;
}

#gameBoard {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content:center;
	width:600px;
	height:600px;
	width:100%;
    height:85vh;
    background-image: url("https://i.pinimg.com/originals/3b/b6/99/3bb699a2620826ae77334703e5609d35.jpg");
    position:relative;
}

#gameBoard div{
  background-color:#00EE00;
  background-repeat: no-repeat;
  background-size:cover;
	
}

.message {
 display:none;
 position:fixed;
 top:0px;
 left:0px; 
 width:100%;
 height:100%;
 background-color:rgba(0,0,0,0.8);
 color:white;
 font-family:Verdana,sans-serif;
 font-size:8em;
 vertical-align:top;
 text-align:center;
 line-height:100vh;

}

#header{
  width:100%;
  height:10vh;
    background-image: url("https://i.pinimg.com/originals/3b/b6/99/3bb699a2620826ae77334703e5609d35.jpg");
  border-bottom:thin solid black;
  position:relative;	
	
}

#header h2 {
  position:absolute;	
  bottom: 0px;
  margin-bottom:2px;
  color:white;
	
}

#header #left{
  left:30px;	
}

#header #right{
  right:30px;	
}



#title {
  text-align:center;
  color:white;  

}


/***** Control Panel *****/

#controlpanel {
	position:absolute;
	top:10px;
	right:10px;
	z-index:1;
}

#controlpanel2 {
	position:absolute;
	top:10px;
	left:10px;
	z-index:1;
}

.controls {
	display:inline-block;
	padding:6px;
	width:100px;
	height:25px;
	background-color:white;
	color:black;
	vertical-align:top;
	text-align:center;
	line-height:20px;
	font-size:0.7em;
	border-radius:7px;
	
}


/***** End Control Panel *****/

.boyup {
  background-image: url("images/boyup.png");
}

.boydown {
  background-image: url("images/boydown.png");
}

.boyleft {
  background-image: url("images/boyleft.png");
}

.boyright {
  background-image: url("images/boyright.png");
}

.boywingsup {
  background-image: url("images/boywingsup.png");
}

.boywingsright {
  background-image: url("images/boywingsright.png");
}

.boywingsdown {
  background-image: url("images/boywingsdown.png");
}

.boywingsleft {
  background-image: url("images/boywingsleft.png");
}

.boyjumpleft {
  background-image: url("images/boyjumpleft.png");
}

.boyjumpright {
  background-image: url("images/boyjumpright.png");
}

.boyjumpup {
  background-image: url("images/boyjumpup.png");
}

.boyjumpdown {
  background-image: url("images/boyjumpdown.png");
}

.bush {
  background-image: url("images/BushDark.png");
}

.bushlight {
  background-image: url("images/Bush1.png");
}

.flag {
  background-image: url("images/flag.png");
}

.lionup {
  background-image: url("images/KLup.png");
}

.liondown {
  background-image: url("images/KLdown.png");
}

.lionleft {
  background-image: url("images/KLleft.png");
}

.lionright {
  background-image: url("images/KLright.png");
}

.lionjump {
  background-image: url("images/KLjump.png");
}

.water {
  background-image: url("images/water.png");
}

.fencetop {
  background-image: url("images/fencetop.png");
}

.fenceside {
  background-image: url("images/sidefence.png");

}

.wings {
  background-image: url("images/wings.png");
}

.rock {
  background-image: url("images/rock.png");
}

.tree {
  background-image: url("images/tree.png");
}

.bridge {
  background-color:#800020 !important;
}

/***** LightBox *****/

#lightbox {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7); 
}

#x{
	position:absolute;
	top:0px;
	right:0px;
}

.hidden {
	display:none;
}

.unhidden{
	display:block;
}

#positionMessage{
	position:absolute;
	top:45px;
	left:0px;
	width:100%;
}

#boundaryMessage{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 600px;
	height:200px;
	background-color:rgba(255,255,255,0.9);
	z-index:1;
	padding:30px;
	border:thick solid #4d3e3e;
}

/***** End Lightbox *****/

